In [3]:
#setting up the working environment, Plotly still not working properly
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import os
plt.style.use('ggplot')

In [36]:
#Loading in all tables
os.chdir("C://Users//ivarnieuwepc//Documents//GitHub//Data")
os.getcwd()

df_sdg = pd.read_csv("SDG//SDGData.csv")
df_wdi = pd.read_csv("WDI//WDIData.csv")
df_emd = pd.read_csv("Other//disaster_data_africa_1960_2018_conv.csv", sep = '\t',encoding = 'latin-1')
df_emd

,year,disaster type,iso,country_name,occurrence,Total deaths,Injured,Affected,Homeless,Total affected,Total damage ('000 US$)
0,1960,Earthquake,DZA,Algeria,1,57.0,NaN,NaN,1250.0,1250.0,NaN
1,1960,Earthquake,MAR,Morocco,1,12000.0,25000.0,NaN,NaN,25000.0,120000.0
2,1960,Storm,MUS,Mauritius,1,42.0,NaN,NaN,NaN,NaN,NaN
3,1961,Earthquake,ETH,Ethiopia,1,NaN,NaN,NaN,NaN,NaN,NaN
4,1961,Flood,SOM,Somalia,1,200.0,NaN,NaN,NaN,NaN,NaN
5,1962,Flood,TUN,Tunisia,1,40.0,NaN,NaN,NaN,NaN,NaN
6,1963,Earthquake,LBY,Libya,1,320.0,NaN,NaN,NaN,NaN,5000.0
7,1963,Flood,DZA,Algeria,1,NaN,NaN,45400.0,NaN,45400.0,NaN
8,1963,Flood,MAR,Morocco,2,169.0,10.0,35000.0,NaN,35010.0,NaN
9,1964,Drought,SOM,Somalia,1,50.0,NaN,700000.0,NaN,700000.0,NaN
10,1964,Drought,ZAF,South Africa,1,NaN,NaN,5000.0,NaN,5000.0,NaN
11,1964,Earthquake,TZA,"Tanzania, United Republic of",1,4.0,NaN,500.0,NaN,500.0,NaN
12,1964,Flood,KEN,Kenya,1,NaN,NaN,15000.0,NaN,15000.0,NaN
13,1964,Flood,MAR,Morocco,1,76.0,NaN,NaN,NaN,NaN,NaN
14,1964,Flood,TZA,"Tanzania, United Republic of",1,NaN,NaN,10000.0,3900.0,13900.0,NaN
15,1964,Flood,TUN,Tunisia,2,49.0,NaN,21000.0,NaN,21000.0,3000.0
16,1965,Drought,BWA,Botswana,1,NaN,NaN,60000.0,NaN,60000.0,NaN
17,1965,Drought,ETH,Ethiopia,1,2000.0,NaN,1500000.0,NaN,1500000.0,NaN
18,1965,Drought,KEN,Kenya,1,NaN,NaN,260000.0,NaN,260000.0,NaN
19,1965,Drought,MRT,Mauritania,1,NaN,NaN,46000.0,NaN,46000.0,NaN
20,1965,Earthquake,DZA,Algeria,1,2.0,350.0,37000.0,12000.0,49350.0,2000.0
21,1965,Epidemic,SEN,Senegal,1,60.0,NaN,150.0,NaN,150.0,NaN
22,1965,Epidemic,SOM,Somalia,1,NaN,NaN,NaN,NaN,NaN,NaN
23,1965,Epidemic,SDN,Sudan (the),1,NaN,NaN,2300.0,NaN,2300.0,NaN
24,1965,Flood,MAR,Morocco,2,75.0,NaN,47813.0,NaN,47813.0,5000.0
25,1966,Drought,BFA,Burkina Faso,1,NaN,NaN,NaN,NaN,NaN,NaN
26,1966,Drought,TCD,Chad,1,NaN,NaN,NaN,NaN,NaN,NaN
27,1966,Drought,MLI,Mali,1,NaN,NaN,NaN,NaN,NaN,NaN
28,1966,Drought,MAR,Morocco,1,NaN,NaN,NaN,NaN,NaN,NaN
29,1966,Drought,NER,Niger (the),1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1964,2017,Wildfire,TUN,Tunisia,1,NaN,NaN,2000.0,NaN,2000.0,NaN
1965,2018,Epidemic,COD,Congo (the Democratic Republic of the),2,137.0,169.0,NaN,NaN,169.0,NaN
1966,2018,Epidemic,NER,Niger (the),1,68.0,3692.0,NaN,NaN,3692.0,NaN
1967,2018,Epidemic,NGA,Nigeria,1,90.0,1081.0,NaN,NaN,1081.0,NaN
1968,2018,Epidemic,UGA,Uganda,1,31.0,NaN,1000.0,NaN,1000.0,NaN
1969,2018,Extreme temperature,MAR,Morocco,1,NaN,NaN,70000.0,NaN,70000.0,NaN
1970,2018,Flood,AGO,Angola,1,8.0,NaN,3000.0,NaN,3000.0,NaN
1971,2018,Flood,BWA,Botswana,1,NaN,NaN,4225.0,NaN,4225.0,NaN
1972,2018,Flood,BDI,Burundi,1,NaN,NaN,12000.0,NaN,12000.0,NaN
1973,2018,Flood,COD,Congo (the Democratic Republic of the),1,51.0,17.0,NaN,15743.0,15760.0,NaN
1974,2018,Flood,CIV,Côte dIvoire,1,20.0,NaN,25000.0,NaN,25000.0,NaN
1975,2018,Flood,GHA,Ghana,1,35.0,NaN,NaN,NaN,NaN,NaN
1976,2018,Flood,KEN,Kenya,3,134.0,33.0,211155.0,NaN,211188.0,350000.0
1977,2018,Flood,MWI,Malawi,2,1.0,NaN,500.0,NaN,500.0,NaN
1978,2018,Flood,MOZ,Mozambique,1,11.0,NaN,NaN,77150.0,77150.0,5100.0
1979,2018,Flood,NER,Niger (the),1,36.0,NaN,130468.0,NaN,130468.0,NaN
1980,2018,Flood,NGA,Nigeria,2,301.0,171.0,15701.0,NaN,15872.0,275000.0
1981,2018,Flood,RWA,Rwanda,2,134.0,5.0,26360.0,NaN,26365.0,NaN
1982,2018,Flood,SDN,Sudan (the),2,46.0,121.0,115705.0,8900.0,124726.0,NaN
1983,2018,Flood,TZA,"Tanzania, United Republic of",1,24.0,NaN,NaN,NaN,NaN,NaN
1984,2018,Flood,TUN,Tunisia,1,6.0,NaN,30000.0,NaN,30000.0,36000.0
1985,2018,Landslide,ETH,Ethiopia,2,44.0,21.0,NaN,NaN,21.0,36.0
1986,2018,Landslide,MOZ,Mozambique,1,17.0,NaN,300.0,NaN,300.0,NaN
1987,2018,Landslide,RWA,Rwanda,1,18.0,12.0,NaN,NaN,12.0,28000.0
1988,2018,Storm,DJI,Djibouti,1,2.0,NaN,25000.0,NaN,25000.0,NaN
1989,2018,Storm,GNB,Guinea-Bissau,1,3.0,NaN,11541.0,NaN,11541.0,NaN
1990,2018,Storm,MDG,Madagascar,2,94.0,NaN,211000.0,NaN,211000.0,NaN
1991,2018,Storm,MUS,Mauritius,1,NaN,NaN,30000.0,NaN,30000.0,NaN
1992,2018,Storm,REU,Réunion,1,NaN,NaN,200.0,NaN,200.0,NaN
1993,2018,Storm,SOM,Somalia,1,55.0,NaN,670000.0,NaN,670000.0,NaN

In [57]:
#jaar bewerken
x =df_emd['year'].value_counts()

for i,g in x.iteritems():
    print(g)

#h = pd.Series(np.concatenate((series.values, [6])))
    


#h = pd.Series()
#for i in range(len(x)):
    #h = x.set_value(i, i**2)
     
        
        
#        df['Column'].values[i] = something/update/new_value
        

        
        
#mylist, df['Column'] = [], ''

#for <condition>:
    #mylist.append(something/update/new_value)

#df['Column'] = mylist

79
74
72
72
71
69
68
68
64
64
63
61
58
56
55
55
53
50
49
48
48
46
46
38
36
35
33
32
29
27
24
24
24
23
23
23
22
21
19
19
17
16
15
13
10
10
9
8
7
7
7
7
7
6
5
3
3
2
1

In [ ]:
all_indicators = df_sdg["Indicator Name"].unique()
all_codes = df_sdg["Indicator Code"].unique()
type(all_codes)

dfc = pd.read_csv("other/countriescodes.txt", sep = ",", encoding = 'latin-1')
l = dfc[dfc['sub-region'] == "Sub-Saharan Africa"]["alpha-3"]
WDI = pd.read_csv("WDI/WDIData.csv")
WDI
#WDI_SSA = WDI[WDI["Country_Code"].isin(l)]