## Research questions
### Hoofdvraag:
To what extent is hunger in sub-Saharan Africa related to environmental hazards and how will this trend develop until 2030 under the effects of climate change?

#### subquestions:

- How did the indicators regarding zero hunger developed in the last decades (for sub-Saharan Africa)?
*Use WDI data set, for indicators of zero hunger see http://datatopics.worldbank.org/sdgs/ *
*Output graphs: some general graphs that descrice the state of hunger in sub saharan africa like nicely done here:*
    - http://www.fao.org/state-of-food-security-nutrition/en/
    

- What has been the historic trend of environmental hazards in sub-Saharan Africa and what was the impact on the food systems?
*Use data of EM-DAT Environmental data base and OECD Agriculture statistics, maybe focus on sub regions in Africa Output graphs could be like: 
    - http://www.fao.org/3/i8656en/I8656EN.pdf
    

- How will the trend of environmental hazards look like in the future? What will be the occurences until 2030?
*Use data of EM-DAT and extrapolate for the various hazards for example Storms, Floods, Drought, Tsunamis*


- How will the change in environmental hazards affect the food production output? (make some kind of and regresion model)
*Use data of OECD Food production*


- Which policies could counteract these negative effects on food production?
*find some policies in papers, estimate those effects and put into a graph*

## INFORMATIE BRONNEN
statistiek over voedsel output http://www.fao.org/state-of-food-security-nutrition/en/

Report over voedsel en impact van weergerelateerde rampen http://www.fao.org/documents/card/en/c/I8656EN/

http://www.fao.org/state-of-food-security-nutrition/en/

FAO - Climate change predictions in sub-Saharan Africa: impacts and adaptations http://www.fao.org/3/a-i7040e.pdf

Database rampen: https://www.cred.be/projects/EM-DAT

## Opbouw report
#### Hoofdstuk 1: introductie en eerste graphs over 
Inleiding no hunger goal 2030 van UN
Introductie onderzoeksvragen
Uitleggen methodologie
#### Hoofdstuk 2: Data preperation
Wat voor data is gebruikt?
Hoe is die gecleaned/bewerkt om te gebruiken
#### Hoofdstuk 3: uitwerken onderzoeksvragen
Uitwerken onderzoeksvraag aan de hand van analyseren data & graphs
Schatten van toekomst met regressie analyse / trend analyses. Aan de hand van deze gegevens een schatting maken voor al deze veriabelen, maar vooral het effect op de ondervoeding/voedseltekort kjkjkj Hoofdstuk 4: aanbevelingen/conclusie


### PythonProjectQuarter1 - opdracht vak
Assignment Create a Jupyter Notebook that contains your explanations and analyses. Start the notebook with a clear description of your research question and the type of analysis you are going to perform. The conceptual contents of the Notebook should be roughly similar to a normal written report of 10-20 pages. Make your Notebook self-explanatory. So, it should contain text (with references) as well as your actual analysis code and results. If you want to use other libraries for your analyses or visualizations, feel free to do so. However, only use free available and well-known libraries. The ones that come standard with Anaconda are fine. If you want to use something else, that you first need to install, check with us first. Create a zip archive and upload it on Brightspace. Some (minimum) properties of the Notebook and your analyses on which we will grade:

Demonstrate your skills in Python by using typical Python constructs and using the appropriate data structures (lists, dictionaries, tuples, arrays, dataframes, series, recursion, etc.)
Try to think of reusability of your code. How easy would it be to use your same code if we want to try to do a small variations of your analysis? Can we easily adapt/play around with your code?
How difficult were your analyses?

## Loading in data

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import os


plt.style.use('ggplot')

In [4]:
#downlaod dfc from: https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv
dfc = pd.read_csv("data/countriescodes.txt", sep = ",", encoding = 'latin-1')
l = dfc[dfc['sub-region'] == "Sub-Saharan Africa"]["alpha-3"]
WDI = pd.read_csv("data/WDIData.csv")
WDI_SSA = WDI[WDI["Country Code"].isin(l)]

FileNotFoundError: File b'data/countriescodes.txt' does not exist

In [5]:
os.chdir("C://Users//ivarnieuwepc//Documents//GitHub//Data")
os.getcwd()

'C:\\Users\\ivarnieuwepc\\Documents\\GitHub\\Data'

In [6]:
df_sdg = pd.read_csv("SDG//SDGData.csv")
df_wdi = pd.read_csv("WDI//WDI.csv")
df_wdi
all_indicators = df_sdg["Indicator Name"].unique()
all_codes = df_sdg["Indicator Code"].unique()
type(all_codes)

numpy.ndarray

In [8]:
indicators_name_code = pd.DataFrame({'Indicator Name':list(all_indicators),'Indicator Code': list(all_codes)}, columns =['Indicator Name', 'Indicator Code'])

ValueError: arrays must all be same length

In [35]:
os.chdir("C://Users//ivarnieuwepc//Documents//GitHub//Data")
os.getcwd()
df_emd = pd.read_csv("Other//disaster_data_africa_1960_2018_conv.csv",sep = ';',encoding = 'utf -8')
df_emd

,year,disaster type,iso,country_name,occurrence,Total deaths,Injured,Affected,Homeless,Total affected,Total damage ('000 US$)
0,1960,Earthquake,DZA,Algeria,1.0,57.0,NaN,NaN,1250.0,1250.0,NaN
1,1960,Earthquake,MAR,Morocco,1.0,12000.0,25000.0,NaN,NaN,25000.0,120000.0
2,1960,Storm,MUS,Mauritius,1.0,42.0,NaN,NaN,NaN,NaN,NaN
3,1961,Earthquake,ETH,Ethiopia,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1961,Flood,SOM,Somalia,1.0,200.0,NaN,NaN,NaN,NaN,NaN
5,1962,Flood,TUN,Tunisia,1.0,40.0,NaN,NaN,NaN,NaN,NaN
6,1963,Earthquake,LBY,Libya,1.0,320.0,NaN,NaN,NaN,NaN,5000.0
7,1963,Flood,DZA,Algeria,1.0,NaN,NaN,45400.0,NaN,45400.0,NaN
8,1963,Flood,MAR,Morocco,2.0,169.0,10.0,35000.0,NaN,35010.0,NaN
9,1964,Drought,SOM,Somalia,1.0,50.0,NaN,700000.0,NaN,700000.0,NaN
10,1964,Drought,ZAF,South Africa,1.0,NaN,NaN,5000.0,NaN,5000.0,NaN
11,1964,Earthquake,TZA,"Tanzania, United Republic of",1.0,4.0,NaN,500.0,NaN,500.0,NaN
12,1964,Flood,KEN,Kenya,1.0,NaN,NaN,15000.0,NaN,15000.0,NaN
13,1964,Flood,MAR,Morocco,1.0,76.0,NaN,NaN,NaN,NaN,NaN
14,1964,Flood,TZA,"Tanzania, United Republic of",1.0,NaN,NaN,10000.0,3900.0,13900.0,NaN
15,1964,Flood,TUN,Tunisia,2.0,49.0,NaN,21000.0,NaN,21000.0,3000.0
16,1965,Drought,BWA,Botswana,1.0,NaN,NaN,60000.0,NaN,60000.0,NaN
17,1965,Drought,ETH,Ethiopia,1.0,2000.0,NaN,1500000.0,NaN,1500000.0,NaN
18,1965,Drought,KEN,Kenya,1.0,NaN,NaN,260000.0,NaN,260000.0,NaN
19,1965,Drought,MRT,Mauritania,1.0,NaN,NaN,46000.0,NaN,46000.0,NaN
20,1965,Earthquake,DZA,Algeria,1.0,2.0,350.0,37000.0,12000.0,49350.0,2000.0
21,1965,Epidemic,SEN,Senegal,1.0,60.0,NaN,150.0,NaN,150.0,NaN
22,1965,Epidemic,SOM,Somalia,1.0,NaN,NaN,NaN,NaN,NaN,NaN
23,1965,Epidemic,SDN,Sudan (the),1.0,NaN,NaN,2300.0,NaN,2300.0,NaN
24,1965,Flood,MAR,Morocco,2.0,75.0,NaN,47813.0,NaN,47813.0,5000.0
25,1966,Drought,BFA,Burkina Faso,1.0,NaN,NaN,NaN,NaN,NaN,NaN
26,1966,Drought,TCD,Chad,1.0,NaN,NaN,NaN,NaN,NaN,NaN
27,1966,Drought,MLI,Mali,1.0,NaN,NaN,NaN,NaN,NaN,NaN
28,1966,Drought,MAR,Morocco,1.0,NaN,NaN,NaN,NaN,NaN,NaN
29,1966,Drought,NER,Niger (the),1.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1968,2018,Epidemic,UGA,Uganda,1.0,31.0,NaN,1000.0,NaN,1000.0,NaN
1969,2018,Extreme temperature,MAR,Morocco,1.0,NaN,NaN,70000.0,NaN,70000.0,NaN
1970,2018,Flood,AGO,Angola,1.0,8.0,NaN,3000.0,NaN,3000.0,NaN
1971,2018,Flood,BWA,Botswana,1.0,NaN,NaN,4225.0,NaN,4225.0,NaN
1972,2018,Flood,BDI,Burundi,1.0,NaN,NaN,12000.0,NaN,12000.0,NaN
1973,2018,Flood,COD,Congo (the Democratic Republic of the),1.0,51.0,17.0,NaN,15743.0,15760.0,NaN
1974,2018,Flood,CIV,Côte d’Ivoire,1.0,20.0,NaN,25000.0,NaN,25000.0,NaN
1975,2018,Flood,GHA,Ghana,1.0,35.0,NaN,NaN,NaN,NaN,NaN
1976,2018,Flood,KEN,Kenya,3.0,134.0,33.0,211155.0,NaN,211188.0,350000.0
1977,2018,Flood,MWI,Malawi,2.0,1.0,NaN,500.0,NaN,500.0,NaN
1978,2018,Flood,MOZ,Mozambique,1.0,11.0,NaN,NaN,77150.0,77150.0,5100.0
1979,2018,Flood,NER,Niger (the),1.0,36.0,NaN,130468.0,NaN,130468.0,NaN
1980,2018,Flood,NGA,Nigeria,2.0,301.0,171.0,15701.0,NaN,15872.0,275000.0
1981,2018,Flood,RWA,Rwanda,2.0,134.0,5.0,26360.0,NaN,26365.0,NaN
1982,2018,Flood,SDN,Sudan (the),2.0,46.0,121.0,115705.0,8900.0,124726.0,NaN
1983,2018,Flood,TZA,"Tanzania, United Republic of",1.0,24.0,NaN,NaN,NaN,NaN,NaN
1984,2018,Flood,TUN,Tunisia,1.0,6.0,NaN,30000.0,NaN,30000.0,36000.0
1985,2018,Landslide,ETH,Ethiopia,2.0,44.0,21.0,NaN,NaN,21.0,36.0
1986,2018,Landslide,MOZ,Mozambique,1.0,17.0,NaN,300.0,NaN,300.0,NaN
1987,2018,Landslide,RWA,Rwanda,1.0,18.0,12.0,NaN,NaN,12.0,28000.0
1988,2018,Storm,DJI,Djibouti,1.0,2.0,NaN,25000.0,NaN,25000.0,NaN
1989,2018,Storm,GNB,Guinea-Bissau,1.0,3.0,NaN,11541.0,NaN,11541.0,NaN
1990,2018,Storm,MDG,Madagascar,2.0,94.0,NaN,211000.0,NaN,211000.0,NaN
1991,2018,Storm,MUS,Mauritius,1.0,NaN,NaN,30000.0,NaN,30000.0,NaN
1992,2018,Storm,REU,Réunion,1.0,NaN,NaN,200.0,NaN,200.0,NaN
1993,2018,Storm,SOM,Somalia,1.0,55.0,NaN,670000.0,NaN,670000.0,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,"Created on: October 22, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,Source: EM-DAT: The Emergency Events Database ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
import os


df_emd_null = df_emd.fillna(0)
x = df_emd_null["year"].unique()
y = df_emd_null[["year","disaster type"]]

ValueError: scatter requires x column to be numeric